# Python Files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Machine Learning Models
*.pth
*.pt
*.weights

# Project Data
data/human_recordings/
logs/
*.log

# Operating System Files
Thumbs.db
Desktop.ini
.DS_Store

# Code Editors
.vscode/
.idea/